HUAGE_HOST=0.0.0.0
HUAGE_PORT=8765
HUAGE_ADMIN_BASE_PATH=/adminhuage
HUAGE_DATABASE=/app/data/nodes.db
HUAGE_LOG_DIR=/app/data/logs
HUAGE_RUNTIME_LOG=/app/data/logs/runtime.log
HUAGE_SUB_STORE_URL=http://sub-store:3001
HUAGE_SUB_STORE_PROFILE=sub

SUB_STORE_IMAGE=xream/sub-store:latest
