__pycache__/
*.py[cod]
*.pyo
*.log
server.*.log

.env
.venv/

data/
build/
__MACOSX/
.DS_Store

tools/.DS_Store
tools/xray/xray
tools/xray/xray.exe
tools/xray/geoip.dat
tools/xray/geosite.dat
tools/sub-store/sub-store.bundle.js
tools/sub-store/*.log
tools/sub-store/root.json
tools/sub-store/sub-store.json
